body {
  font-family: Jost;
  padding: 20px;
  background: #fafafa;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.card {
  border-radius: 12px;
  padding: 16px;
  width: 250px;
  text-align: center;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.05);

}

.card h3{
  color: #7e7666;
  margin:5px;
  font-weight: 600;
}

.card p{
  color: grey;
  margin: 0px;
}
.card img {
  max-width: 100%;
  border-radius: 8px;
}
.add-to-cart {
  margin-top: 10px;
  padding: 8px 30px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
}
.add-to-cart:hover {
  background: #0056b3;
}

#cart ul {
  list-style: none;
  padding: 0;
}

#cart {
  margin-top: 40px;
  padding: 20px;
  margin: 40px auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
  max-width: 600px;
}

#cart h2 {
  font-size: 1.2rem;
  margin-bottom: 16px;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fefefe;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px 12px;
  margin-bottom: 10px;
  font-size: 0.95rem;
}

#cart-items li:last-child {
  margin-top: 20px;
  background: #f9f9f9;
  font-weight: bold;
  justify-content: center;
  font-size: 1rem;
}

.remove {
  margin-left: 12px;
  background-color: #ff0648;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.remove:hover {
  background-color: #ff376d;
}


nav {
  background-color: #f8f8f8;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a:hover {
  color: #007bff;
}
